body {
  font-family: "Segoe UI", Arial, sans-serif;
  background: #f2f4f7;
  margin: 0;
  padding: 0;
}

header, h1 {
  background: #2e8b57;
  color: white;
  padding: 20px;
  text-align: center;
  margin: 0;
}

p {
  margin: 0;
}

/* ===== KARTU ===== */
.cards {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.card {
  background: white;
  padding: 20px;
  width: 300px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  text-align: center;
}

.card h3 {
  margin-bottom: 10px;
  color: #555;
}

.card p {
  font-size: 26px;
  font-weight: bold;
}

.card.saldo {
  border-left: 6px solid #2e8b57;
}

/* ===== TABEL ===== */
table {
  width: 95%;
  margin: 20px auto;
  border-collapse: collapse;
  background: white;
  border-radius: 10px;
  overflow: hidden;
}

thead {
  background: #2e8b57;
  color: white;
}

th, td {
  padding: 12px;
  text-align: center;
}

tr:nth-child(even) {
  background: #f9f9f9;
}

tr:hover {
  background: #eef6f1;
}
.card.masuk {
  border-left: 6px solid #1e90ff;
}

.card.keluar {
  border-left: 6px solid #dc3545;
}
.judul {
  text-align: center;
  font-size: 34px;
  margin-bottom: 5px;
}

.subjudul {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
  background-color: #2e8b57;
  padding: 8px 0;
  margin-top: 0;
}


